/* Reset default margin and padding */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.title {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/* Navigation */
.nav {
    background-color: #eee;
    padding: 1rem 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 1rem;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main Content */
.main {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #007BFF;
}

.link-list {
    list-style: decimal;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.link-list li {
    margin-bottom: 0.5rem;
}

.link-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link-list a:hover {
    color: #0056b3;
}

.description {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: #777;
}
