/* Style sheet for Browserstack.com*/
.massage{
    display: flex;
    background-color:#143452;
    margin-left: auto;
    font-family: 'Mukta', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}
.massage p{
    padding-left: 275px;
    color: #ffffff;
}
.massage a{
    color:#ffffff;
}

/* this all header option on the BrowserStack */
.header{
    background-color: rgb(5, 5, 68);
}


.menu-list{
    /*float:unset;*/
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: auto;
    height: auto;
    text-align: left;
    white-space: nowrap;
}

.menu-item{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu-link{
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

.logo{
    max-height: 30px;
    vertical-align: middle;
}

.bth{
    color: white;
    background-color:  rgb(23, 61, 8);
    border-color: #ffffff;
}

button:hover{
    color:#ffffff;
    background-color: blue;
}

.shiftright{
            float: right;
            margin: 3.9px;
}

.login_offer{
    background-color: rgb(164, 207, 241);
    width: auto;
    text-align: center; /* Center the content horizontally */
    height: 600px;
    margin-top: 0%;
}

.login_offer h1 {
    width: 100%; /* Make the heading span the full width */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
}

.login_offer p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.login_offer button{
    color: blue;
    background-color:  rgb(164, 207, 241);
    border-color: blue;
    height:50px;
    width:220px;
}

.login_offer button:hover{
    color:#ffffff;
    background-color: blue;
}


.testWebsite{
     background-color: red; 
    width: 750px;
    text-align: left; /* Center the content horizontally */
    height: 260px;
    margin-top: 0%;
    float: left;
}

.testWebsite p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;
}

.testMobileApps{
    background-color: red;  
    width: 500px;
    text-align: left; /* Center the content horizontally */
    height: 260px;
    margin-top: 0%;
    float: right;
}

.testMobileApps p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;
}